<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Cursos</title>
    <link rel="stylesheet" type="text/css" href="../static/estilo_cursos.css" />
    <script src="main.js"></script>
</head>
<body>

    <h1>Escolha a gradução que vai revolucionar</h1>
    <header>Bacharelado</header>
    <a href="#"><nav>Admistração</nav></a>
    <a href="#"><nav>engenharia da computação</nav></a>
    <a href="#"><nav>sistemas de informação</nav></a>
    <header>tecnólogico</header>
    <a href="#"><nav>analista e desenvolvimento de sistemas</nav></a>
    <a href="#"><nav>análise e desenvolvimento de sistemas EAD</nav></a>
    <a href="#"><nav>Banco de dados</nav></a>
    <a href="#"><nav>Gestão de Tecnologia da informação</nav></a>
    <a href="#"><nav>Jogos Digitais</nav></a>
    <a href="#"><nav>Processos Grenciais</nav></a>
    <a href="#"><nav>Produção Multimídia</nav></a>
    <a href="#"><nav>Redes de Computadores</nav></a>
</body>    
</html>