 <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Page Title</title>
    
    <link rel="stylesheet" type="text/css"  href="../static/estilo_disciplinas.css" />
    <script src="01.js" defer ></script>
</head>
<body>
    <header>Disciplinas</header>
        <nav>
            <ul>
            <ol id="s1">1°semestre</ol>
            <br>
            <ol id="s2">2°semestre</ol>
            <br>
            <ol id="s3">3°semestre</ol>
            <br>
            <ol id="s4">4°semestre</ol>
            <br>
            <ol id="s5">5°semestre</ol>
            <br>
            <ol id="s6">6°semestre</ol>
            <br>
            <ol id="s7">7°semestre</ol>
            <br>
            <ol id="s8">8°semestre</ol>
            </ul>
        </nav>
        <div class="dis1">
            <ul >
            <li>Comunicação e Expressão (EAD): 80 horas</li>
            <li>Fundamentos de Banco de Dados: 80 horas</li>
            <li>Introdução a Internet das Coisas - IOT: 80 horas</li>
            <li>Linguaguem de Programação I: 80 horas</li>
            <li>Lógica de Programação: 80 horas</li>
            <li>Matemática Aplicada: 80 horas</li>
            <li>Subtotal: 480 horas</li>
            </ul>
        </div>
        <div>
            <ul class="di2">
            <li>Ambiente de Desenvolvimento e Operação -DevOps: 80 horas</li>
            <li>Engenharia de Software: 80 horas</li>
            <li>Gestão de Projetos: 40 horas</li>
            <li>Libras: 40 horas</li>
            <li>Linguagem SQL: 80 horas</li>
            <li>Linguaguem de Programação II: 80 horas</li>
            <li>Sociedade e Sustentabilidade: 40 horas</li>
            <li>Tecnologia Web: 80 horas</li>
            <li>Subtotal: 520 horas</li>
            <ul>
        </div>
        <div >
            <ul class="di3">
                <li>Análise e Modelagem de Sistemas: 80 horas</li>
                <li>Desenvolvimento de Aplicações Distribuídas: 80 horas</li>
                <li>Estrutura de Dados: 80 horas</li>
                <li>Interface Homem-Computador: 40 horas</li>
                <li>Modelagem de Processos de Negócios: 80 horas</li>
                <li>OPE1 - Oficina de Projeto Empresa 1: 80 horas</li>
                <li>Subtotal: 440 horas</li>
            </ul>
        </div>
        <div class="di4">
            <ul>
                <li>Arquitetura e Projeto de Sistemas : 80 horas</li>
                <li>Desenvolvimento para Dispositivos Móveis: 80 horas</li>
                <li>Desenvolvimento para Internet das Coisas - IOT: 80 horas</li>
                <li>Legislação e Ética: 40 horas</li>
                <li>OPE 2 - Oficina Projeto de Empesa 2 : 80 horas</li>
                <li>Qualidade de Software: 80 horas</li>
                <li>Subtotal: 440 horas</li>
            </ul>
        </div>
        <div class="di5">
            <ul>
                <li>Business Agility: 80 horas</li>
                <li>Desenvolvimento de Sistemas de Informação: 80 horas</li>
                <li>Teoria da Computação: 80 horas</li>
                <li>Startup e Inovação: 80 horas</li>
                <li>Subtotal: 320 horas</li>
            </ul>
        </div>
        <div class="di6">
            <ul>
                <li>Análise de Viabilidade de Projetos: 80 horas</li>
                <li>Análise Exploratória de Dados: 80 horas</li>
                <li>Gestão de Projetos de Inovação: 80 horas</li>
                <li>Integração e Desenvolvimento de Sistemas: 80 horas</li>
                <li>Subtotal: 320 horas</li>
            </ul>
        </div>
        <div class="di7">
            <ul>
                <li>Gestão de Infraestrutura de TI: 80 horas</li>
                <li>Business Intelligence: 80 horas</li>
                <li>Segurança e Auditoria de Sistemas: 80 horas</li>
                <li>Trabalho de Conclusão de Curso 1 - TCC1: 80 horas</li>
                <li>Subtotal: 320 horas</li>
            </ul>
        </div>
        <div class="di8">
            <ul>
                <li>Computação Cognitiva: 80 horas</li>
                <li>Governança de TI: 80 horas</li>
                <li>Sistemas Integrados de Gestão: 80 horas</li>
                <li>Trabalho de Conclusão de Curso 2 -TCC2: 80 horas</li>
                <li>Subtotal: 320 horas</li>
            </ul>
        </div>

</body>
</html>